In [4]:
import pandas as pd

In [10]:
df = pd.read_csv("nyc.2020-01.csv")
df.head()

/opt/app-root/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                         :59    2   .80    1  N  262  141  \
2.0 2020-01-03 13:18:15  2020-01-03 13:20:05  1.0  0.27  1.0  N  141  237
    2020-01-03 13:21:15  2020-01-03 13:49:46  1.0  4.69  1.0  N  237  152
    2020-01-03 13:36:02  2020-01-03 13:41:15  1.0  0.70  1.0  N  236  237
1.0 2020-01-03 13:04:50  2020-01-03 13:10:19  1.0  0.80  1.0  N  114   79
    2020-01-03 13:13:14  2020-01-03 13:16:33  1.0  0.50  1.0  N  107  137

                         1.1   5.5    0  0.5  1.76  0.1  0.3  10.56  2.5
2.0 2020-01-03 13:18:15  1.0   3.5  0.0  0.5  2.50  0.0  0.3   9.30  2.5
    2020-01-03 13:21:15  2.0  20.5  0.0  0.5  0.00  0.0  0.3  23.80  2.5
    2020-01-03 13:36:02  1.0   5.0  0.0  0.5  1.66  0.0  0.3   9.96  2.5
1.0 2020-01-03 13:04:50  1.0   5.5  2.5  0.5  1.75  0.0  0.3  10.55  2.5
    2020-01-03 13:13:14  1.0   4.5  2.5  0.5  1.55  0.0  0.3   9.35  2.5

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6007822 entries, (2.0, '2020-01-03 13:18:15') to (nan, '2020-01-31 22:44:00')
Data columns (total 16 columns):
 #   Column  Dtype
---  ------  -----
 0   :59     object
 1   2       float64
 2   .80     float64
 3   1       float64
 4   N       object
 5   262     int64
 6   141     int64
 7   1.1     float64
 8   5.5     float64
 9   0       float64
 10  0.5     float64
 11  1.76    float64
 12  0.1     float64
 13  0.3     float64
 14  10.56   float64
 15  2.5     float64
dtypes: float64(12), int64(2), object(2)
memory usage: 857.1+ MB

In [12]:
df.shape

(6007822, 16)

In [13]:
duplicate_rows_df = df[df.duplicated()]
print('number of duplicate rows:' , duplicate_rows_df.shape)

number of duplicate rows: (12952, 16)